os:
  - linux
dist:
  - xenial
language:
  - node_js
node_js:
  - "14"
notifications:
  email: false
before_install:
  - npm i -g npm@^2.0.0
before_script:
  - npm prune
script:
  - npm run test
  - npm run check-coverage
after_success:
  - npm run report-coverage
